.game__container {
  position: relative;
}
.game__container img {
  opacity: 0.3;
}
.game__container p {
    /* not good to make text absolute but just for showcase will od it */
  position: absolute;
  top: 50%;
  left: 40%;
  margin: -25px 0 0 -25px;
  z-index: 1;
  font-size: 2em;
  font-weight: bold;
  text-decoration: underline;
  color: rgb(16, 16, 16)
}



  